extends layout

block contentHead
	link( href="/css/fileinput.min.css", rel="stylesheet", media="screen" )
	script( type="text/javascript" src="/js/fileinput.min.js" )
	script( type="text/javascript" src="/js/validator.min.js" )
	script( type="text/javascript" src="/js/admin-concept.js" )

block content
	form
		div.content-header.inline-block.full-width
			- if (concept.id == '')
				h3.pull-left New Concept
			- else
				h3.pull-left Edit Concept
			- endif
			button.btn.btn-default.pull-right( type="button" onclick="save()" ) Save
			- if (concept.id != '')
				button.btn.btn-default.pull-right.margin-right-10( type="button" onclick="deleteConcept()" ) Delete
			a.btn.btn-default.btn-back.pull-right( href="/admin/concepts" ) < Back
		div#alert-block
		div.content-body
			div.edit-field-item.form-group
				p.edit-field-label.pull-left Title
				input.form-control.edit-field( type="text" name="title" value="#{concept.title}" required)
			div.edit-field-item.form-group
				p.edit-field-label.pull-left Text
				textarea.form-control.edit-field( type="text" name="text" style="min-height:150px" required)
				p#pretext.hidden #{concept.text}
			div.edit-field-item
				p.edit-field-label.pull-left Image
				div.form-group.inline-block.full-width
					input.form-control.full-width( type="text" name="image" id="image" placeholder="Image URL" value="#{concept.image}" )
					input.form-control.full-width.margin-top-10( type="text" name="image_sources" id="image_sources" placeholder="Image Source Site URL" value="#{concept.image_source}" )
					input.form-control.full-width.margin-top-10( type="text" name="image_credits" id="image_credits" placeholder="Credit" value="#{concept.image_credit}" )
			div.edit-field-item
				p.edit-field-label.pull-left Image 2
				div.form-group.inline-block.full-width
					input.form-control.full-width( type="text" name="image2" id="image2" placeholder="2nd Image URL" value="#{concept.image2}" )
					input.form-control.full-width.margin-top-10( type="text" id="image2_sources" name="image2_sources" placeholder="2nd Image Source Site URL" value="#{concept.image2_source}" )
					input.form-control.full-width.margin-top-10( type="text" id="image2_credits" name="image2_credits" placeholder="Credit" value="#{concept.image2_credit}" )

			div.edit-field-item
				p.edit-field-label.pull-left Videos
				div#video-contents.infinite-add.form-group.inline-block.full-width
					- if (videos)
						- each video in videos
							div
								button.btn.btn-default.pull-right.glyphicon.glyphicon-minus( type="button" onclick="removeContent(this)" )
								- if (video.defaulted_admin == 'true')
									a.btn.btn-default.btn-set-default.default-content.pull-right( title="Default" )
										img( src="/images/default.png" )
								- else
									a.btn.btn-default.btn-set-default.pull-right( onclick="makeDefaultVideo(this)" title="Default" )
										img( src="/images/undefault.png" )
								input.form-control.text-input( type="text" name="videos" value="#{video.url}" placeholder="Only Youtube URL" )
								- if (video.enabled == 'false')
									input.check-input#videos_enable( type="checkbox" name="videos_enable" )
								- else
									input.check-input#videos_enable( type="checkbox" name="videos_enable" checked )
								- endif
					- endif
					div
						button.btn.btn-default.pull-right.glyphicon.glyphicon-plus( type="button" onclick="addContent(this, true)" )
						a.btn.btn-default.btn-set-default.pull-right( onclick="makeDefaultVideo(this)" title="Default" )
							img( src="/images/undefault.png" )
						input.form-control.text-input( type="text" name="videos" placeholder="Only Youtube URL" )
						input.check-input#enable( type="checkbox" name="videos_enable" )
				input#default_video( type="hidden" name="default_video" )
			div.edit-field-item
				p.edit-field-label.pull-left Reference URL
				div#reference-contents.infinite-add.form-group.inline-block.full-width
					- if (references)
						- each reference in references
							div
								// have only one referenece, so can't remove a reference
								button.btn.btn-default.pull-right.glyphicon.glyphicon-minus.hidden( type="button" onclick="removeContent(this)" )
								- if (reference.defaulted_admin == 'true')
									a.btn.btn-default.btn-set-default.default-content.pull-right.hidden( title="Default" )
										img( src="/images/default.png" )
								- else
									a.btn.btn-default.btn-set-default.pull-right.hidden( onclick="makeDefaultReference(this)" title="Default" )
										img( src="/images/undefault.png" )
								input.form-control.text-input( type="text" name="references" value="#{reference.url}" )
								- if (reference.enabled == 'false')
									input.check-input#enable( type="checkbox" name="ref_enable" )
								- else
									input.check-input#enable( type="checkbox" name="ref_enable" checked )
								- endif
					- else
						input.form-control.text-input( type="text" name="references" )
						input.check-input#enable( type="checkbox" name="ref_enable" )
					- endif
					// have only one reference, so can't new reference
					div.hidden
						button.btn.btn-default.pull-right.glyphicon.glyphicon-plus( type="button" onclick="addContent(this, false)" )
						a.btn.btn-default.btn-set-default.pull-right( onclick="makeDefaultReference(this)" title="Default" )
							img( src="/images/undefault.png" )
						input.form-control( type="text" name="references" )
				input#default_reference( type="hidden" name="default_reference" )
			div.edit-field-item.form-group
				p.edit-field-label.pull-left Enable
				- if (concept.enabled == 'true')
					input#enable( type="checkbox" name="enable" checked )
				- else
					input#enable( type="checkbox" name="enable" )
				- endif
			div
				p.edit-field-label Links
				- if (links)
					- var index = 0
					- each link in links
						- index++
						div.edit-link-block
							div.pull-left.margin-right-30
								p.edit-link-label.pull-left Syllabus
								select.form-control.edit-link-select( id="syllabus_#{index}" index="#{index}" name="syllabuses" onchange="loadGrade(this)" required)
									- if (syllabuses)
										- each syllabus in syllabuses
											- if (link.linkInfo.syllabus + ' ' == syllabus._id + ' ') 
												option( value="#{syllabus._id}" selected) #{syllabus.title}
											- else
												option( value="#{syllabus._id}" ) #{syllabus.title}
											- endif
							div.form-group.pull-left.margin-right-30
								p.edit-link-label.pull-left Grade
								select.form-control.edit-link-select( id="grade_#{index}" name="grades" onchange="loadChapter($(syllabus_#{index}), this)" required)
									- if (link.exGrades)
										- each exGrade in link.exGrades
											- if (link.linkInfo.grade == exGrade.grade_id)
												option( value="#{exGrade.grade_id}" selected) #{exGrade.grade_title}
											- else
												option( value="#{exGrade.grade_id}") #{exGrade.grade_title}
											- endif
							div.form-group.pull-left.margin-right-30
								p.edit-link-label.pull-left Chapter
								select.form-control.edit-link-select( id="chapter_#{index}" name="chapters"  onchange="loadOrder($(syllabus_#{index}), $(grade_#{index}), this)" required)
									- if (link.exChapters)
										- each exChapter in link.exChapters
											- if (link.linkInfo.chapter + ' '== exChapter.chapter_id + ' ')
												option( value="#{exChapter.chapter_id}" selected) #{exChapter.chapter_title}
											- else
												option( value="#{exChapter.chapter_id}") #{exChapter.chapter_title}
											- endif
							div.form-group.pull-left.margin-right-30
								p.edit-link-label.pull-left Order
								select.form-control.edit-link-select( id="order_#{index}" name="orders" required)
									option( value="1" ) First
										- if (link.exConcepts)
											- each exConcept in link.exConcepts
												- if (link.linkInfo.order == exConcept.order + 1)
													option( value="#{exConcept.order + 1}" selected) After #{exConcept.concept_title}
												- else
													option( value="#{exConcept.order + 1}") After #{exConcept.concept_title}
												- endif
							button.btn.btn-default.pull-right.glyphicon.glyphicon-minus( type="button" onclick="removeLink(this)" )
				div.edit-link-block
					button.btn.btn-default.pull-right.glyphicon.glyphicon-plus( type="button" onclick="addLink(this)" )

	div#wait.hidden
		p.wait-mark.label.label-success
			sapn.wait-animate.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
			| &nbsp;&nbsp;Please wait...

	script.
		var concept_id = '#{concept.id}';
		var concept_chapter = '#{concept.chapter}';
		var concept_order = '#{concept.order}';
	
	- if (syllabuses && syllabuses.length >= 0)
		script.
			syllabuses = !{JSON.stringify(syllabuses)};
	- endif

