extends layout

block contentHead
	link( href="/css/offcanvas.css", rel="stylesheet", media="screen" )
	script( src="/js/offcanvas.js" )
	script( src="/js/myclass.js" )
	script( src="/js/social-share.js" )
	script(src='https://apis.google.com/js/platform.js', async='', defer='')

block content
	div.top-nav.container-fluid
		div.row
			nav
				ul
					li.nav-item
						a(href="/")
							i.nav-item-icon.nav-item-icon-home
							span Home
					li.nav-item
						a(href="/myclass")
							i.nav-item-icon.nav-item-icon-class
							span My Class
					li.nav-item
						a(href="/lessons")
							i.nav-item-icon.nav-item-icon-lessons
							span Lessons
					li.nav-item
						a.active(href="/tests")
							i.nav-item-icon.nav-item-icon-tests
							span Tests
	div.content-wrapper.container-fluid
		div.row
			div.sidebar-block
				nav
					ul
						li.nav-item
							a(href="/profile/view")
								i.nav-item-icon.nav-item-icon-home
								span Profile
						li.nav-item
							a(href="/myclass")
								i.nav-item-icon.nav-item-icon-class
								span My Class
						li.nav-item
							a(href="/lessons")
								i.nav-item-icon.nav-item-icon-lessons
								span Lessons
						li.nav-item
							a.active(href="/tests")
								i.nav-item-icon.nav-item-icon-tests
								span Tests
						li.nav-item
							a(href="/signout")
								i.nav-item-icon.nav-item-icon-logout
								span Log Out

			div.content-block
				div.page-description
					h1.page-title Tests
					h2#test-title.page-info
				div.page-content.container-fluid
					div.content-tests
						div#guest-comment.margin-10
							p You have not enrolled in any class.
							p
								a(href="/signin") Sign in
								&nbsp or &nbsp
								a(href="/signup") Sign up for Free
						
	div#wait.hidden
		p.wait-mark.label.label-success
			span.wait-animate.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
			| &nbsp;&nbsp;Please wait...
	div#alert-modal.hidden
	
	
				
block contentScript
	script.
		var userid = '#{userid}';
		var lesson = {
			'isLesson': '#{lesson.isLesson}',
			'syllabus_name': '#{lesson.syllabus_name}',
			'syllabus': '#{lesson.syllabus}',
			'grade_name': '#{lesson.grade_name}',
			'grade': '#{lesson.grade}',
			'chapter': '#{lesson.chapter}',
			'concept': '#{lesson.concept}'
		};
	- if (user && user.school_name)
		script.
			var user = {
				'name': '#{user.name}',
				'school_name': '#{user.school_name}',
				'grade_name': '#{lesson.grade_name}',
				'section_name': '#{user.section}'
			};
	- endif

	- if (classmates && classmates.length >= 0)
		script.
			classmates = !{JSON.stringify(classmates)};
	- endif	
	- if (friends && friends.length >= 0)
		script.
			friends = !{JSON.stringify(friends)};
	- endif	
